<%- include("includes/head.ejs"); %>
  <body>
    <h1>This account belongs to <%= userData.name %></h1>
    <p>
     <button>Followers:</button><%= userData.followers %> &nbsp; &nbsp; &nbsp; <button>Following:</button>
      <%=userData.following %>
    </p>
    <hr />
    <% for(let post of userData.posts) { %>
    <img src="<%=post.image%>" /> <br />
    <h3>
      Likes:<%=post.likes%> &nbsp; &nbsp; &nbsp; Comments:<%=post.comments%>
    </h3>
    <% } %>
  </body>
</html>
